
#guide {
    font-family: 'inconsolata';
}

#guide > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.animation {
    padding-top: 50px;
    margin: auto;
    /* width: 50%; */
    float: right;
    margin-right: 50px;
  }


.menu {
    font-family: 'inconsolata';
}


.topnav {
    overflow: hidden;
    font-family: 'inconsolata';
    color: black;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.topnav a:hover {
    text-decoration: underline;
}

.topnav a.active {
    color: black;
  }


.topnav-right {
  float: right;
}

.topnav-right > a > img {
    width: 25px;
}